In [6]:
import pandas as pd
import numpy as np

1. Erstellen Sie eine Liste mit fortlaufenden Nummern von 1-5.
2. Fügen Sie dieser Liste eine weitere Nummer hinzu.
3. Lassen Sie sich min, mean und max ausgeben (Tipp: Muss vorher konvertiert werden)

In [8]:
lst = [1, 2, 3, 4, 5]
lst.append(6)
min(lst)

1

Erstellen Sie nun ebenfalls eine Liste mit Namen von Früchten. Die Liste sollte die gleiche Länge haben wie Ihre vorherige Liste.

In [3]:
fruits = ["apple", "kiwi", "orange", "berry", "coconut", "strawberry"]

Weisen Sie die Liste einem Dictionary mit dem Namen Fruits zu.

In [9]:
fruits_dict = {"fruits": fruits, "id": lst}

Erstellen Sie aus dem Dictionary ein pandas-DataFrame und lassen Sie sich die ersten zwei Zeilen mit dem .head()-Befehl ausgeben.

In [39]:
df = pd.DataFrame.from_dict(fruits_dict)
df

       fruits  id
0       apple   1
1        kiwi   2
2      orange   3
3       berry   4
4     coconut   5
5  strawberry   6

Fügen Sie das unten stehende Dictionary zu Ihrem Dataframe hinzu

In [5]:
fruits2 = {
    "id": 7,
    "name": "pineapple"
}

In [ ]:
### Your Code Here

Geben Sie die zweite und dritte Zeile mit dem .iloc()-Befehl aus.

In [6]:
### Your Code Here

Fügen Sie eine weiter Spalte mit der Bezeichnung "Kategorie" zu dem DataFrame hinzu und vergeben Sie für alle bisherigen Zeilen eine passende Kategorie.

In [14]:
df['cat'] = [1,1,1,2,2,1]
df

       fruits  id  cat
0       apple   1    1
1        kiwi   2    1
2      orange   3    1
3       berry   4    2
4     coconut   5    2
5  strawberry   6    1

In [20]:
df.insert(0, 'New_ID', range(0, len(df)))

ValueError: cannot insert New_ID, already exists

In [50]:
s = "some_string"
df.assign(test=lambda x: x.fruits + x.id.astype(str))
df.assign(test=lambda x: x.fruits + "_" + x.index.astype(str))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (659164898.py, line 3)

In [36]:
df['test'] = (np.arange(len(df), dtype="object")).map('I am a {}'.format)
df

AttributeError: 'numpy.ndarray' object has no attribute 'map'

Überprüfen Sie Ihre Eingabe, indem Sie sich mit dem .loc()-Befehl die Spalte Kategorie für alle Zeilen ausgeben lassen

In [ ]:
### Your Code Here

Wandeln Sie abschließend alle strings von Früchten in Großbustaben um. Benutzen Sie hierfür eine in Python-implementierte Funktion.

In [18]:
df.loc[:, "fruits"].str.upper()

0         APPLE
1          KIWI
2        ORANGE
3         BERRY
4       COCONUT
5    STRAWBERRY
Name: fruits, dtype: object